<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <application
        android:name="lab06.data.TodoApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lab01"
        tools:targetApi="31">

        <activity
            android:name="lab06.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Lab01" />
        <activity
            android:name="lab03.Lab03Activity"
            android:exported="false" />
        <activity
            android:name=".Lab02Activity"
            android:exported="false" />
        <activity
            android:name=".Lab01Activity"
            android:exported="false" />
        <activity
            android:name=".Main2Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name="lab06.data.NotificationBroadcastReceiver"
            android:enabled="true"
            />



    </application>
</manifest>
